.clock {
    background-color: #eee;
    border: 0.25em solid #777;
    border-radius: 50%;
    box-shadow: 0 0 1.5em rgba(0,0,0,0.25) inset;
    margin: 0 auto;
    position: relative;
    @include size(20em);
}

%clock-children {
    position: absolute;
    @include size(100%);
}
%clock-elements {
    display: block;
    position: absolute;
}